@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Oswald|Roboto&display=swap');
/* CSS Document */

body{
	font: 16px/1.8 'Open Sans', 'Roboto', 'Gotham', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444444;
}

.frame{
	position: relative;
	margin-top: 60px;
}

.contatiner{
	overflow: hidden;
}

.content{
		margin-left: 20px;
		margin-right: 20px;
}
@media all and (min-width: 768px){
	.content{
			margin-left: 80px;
			margin-right: 80px;
	}
}
@media all and (min-width:1280px){
	.content{
			margin: 0 auto;
			width: 1024px;
	}
}

.content_detail{
}

.content_footer{
	border-top: 1px solid gray;
	margin-top: 10px;
	text-align: center;
}

/* About Page Styles */
.about_title{
	font-family: 'Oswald', sans-serif;
	color: black;
	font-weight: bold;
	margin-bottom: 0px;
}

.about_title{
	font-size: 1.5em;
	height: 1.5em;
}
@media (min-width: 768px){
	.about_title{
		font-size: 3em;
		height: 1.6em;
	}
}

.about_content{
	margin-top: 10px;
	margin-bottom: 20px;
}

.JobTitle{
	line-height: 130%;
	font-family: 'Oswald', sans-serif;
	color: black;
	margin-top: 5px;
	margin-bottom: 0px;
}

.JobTitle{
	font-size: 1.5em;
}
@media (min-width: 768px){
	.JobTitle{
		font-size: 2em;
	}
}

.Expertise{
	color: gray;
	margin-top: 5px;
}
.Expertise{
	font-size: 0.8em;
}
@media (min-width: 768px){
	.Expertise{
		font-size: 1em;
	}
}

.job_detail{
	margin-bottom: 30px;
}

.workdays{
	margin-bottom: 0px;
}

.cert_date, .workdays{
	font-weight: bold;
	color: #d44ed9;
}
.cert_date, .workdays{
	font-size: 0.75em;
}
@media (min-width: 768px){
	.cert_date, .workdays{
		font-size: 1em;
	}
}

.skill_sets{
	font-size: 1em;
	margin-bottom: 0.5em;
}
@media (min-width: 768px){
	.skill_sets{
		font-size: 1.5em;
		margin-bottom: 1em;
	}
}

/* Projects Page Styles */
.project_list{
	display:table;
	margin-bottom: 30px;
}

.image{

}

.project_image{
	text-align: center;
	border: 1px solid gray;
}
.project_image{
	width: 300px;
	height: 200px;
	display: table-cell;
}
@media (min-width: 768px){
	.project_image{
		width: 250px;
		height: 250px;
		margin-right: 30px;
		float:left;
		display: table-cell;
		vertical-align: middle;
	}
}

.project_detail{
	width: 95%;
	display:inline;
}
@media (min-width: 768px){
	.project_detail{
		width: 95%;
		display:table-cell;
		vertical-align: top;
	}
}

/* Works Page Styles*/
.type_design{
	color: #e67422;
	border: 2px solid #e67422;
}
.type_artwork{
	color: #34b816;
	border: 2px solid #34b816;
}
.type_program{
	color: #3d5be0;
	border: 2px solid #3d5be0;
}

.type_design, .type_artwork, .type_program{
	margin-top: 16px;
	margin-bottom: 0;
	font-weight:bold;
	text-align: center;
	border-radius: 10px;
}

.type_design, .type_artwork, .type_program{
	font-size: 0.6em;
	width: 60px;
	height: 18px;
	display: inline-block;
}
@media (min-width: 768px){
	.type_design, .type_artwork, .type_program{
		font-size: 0.8em;
		width: 80px;
		height: 22px;
		display: inline-block;
	}
}
