@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Oswald|Roboto&display=swap');
/* CSS Document */

body{
	font: 16px/1.8 'Open Sans', 'Roboto', 'Gotham', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444444;
}

.frame{
	position: relative;
	margin-top: 60px;
}

.contatiner{
	overflow: hidden;
}

.content{
		margin-left: 20px;
		margin-right: 20px;
}
@media all and (min-width: 768px){
	.content{
			margin-left: 80px;
			margin-right: 80px;
	}
}
@media all and (min-width:1280px){
	.content{
			margin: 0 auto;
			width: 1024px;
	}
}

.content_detail{
}

.content_footer{
	border-top: 1px solid gray;
	margin-top: 10px;
	text-align: center;
}

/* About Page Styles */
.about_title{
	font-family: 'Oswald', sans-serif;
	color: black;
	font-weight: bold;
	margin-bottom: 0px;
}

.about_title{
	font-size: 1.5em;
	height: 1.5em;
}
@media (min-width: 768px){
	.about_title{
		font-size: 3em;
		height: 1.6em;
	}
}

.about_content{
	margin-top: 10px;
	margin-bottom: 20px;
}

.JobTitle{
	font-family: 'Oswald', sans-serif;
	color: black;
	margin-top: 5px;
	margin-bottom: 0px;
}

.JobTitle{
	font-size: 1.2em;
}
@media (min-width: 768px){
	.JobTitle{
		font-size: 2em;
	}
}

.Expertise{
	color: gray;
	margin-top: 5px;
}
.Expertise{
	font-size: 0.8em;
}
@media (min-width: 768px){
	.Expertise{
		font-size: 1em;
	}
}

.job_detail{
	margin-bottom: 30px;
}

.workdays{
	margin-bottom: 0px;
}

.cert_date, .workdays{
	font-weight: bold;
	color: #d44ed9;
}
.cert_date, .workdays{
	font-size: 0.75em;
}
@media (min-width: 768px){
	.cert_date, .workdays{
		font-size: 1em;
	}
}

.skill_sets{
	font-size: 1em;
	margin-bottom: 0.5em;
}
@media (min-width: 768px){
	.skill_sets{
		font-size: 1.5em;
		margin-bottom: 1em;
	}
}

/* Projects Page Styles */
.project_list{
	display:inline-block;
	margin-bottom: 30px;
}

.project_image{
	text-align: center;
	width: 100%;
	height: 100px;
	border: 1px solid gray;
	margin-top: 20px;
	margin-right: 20px;
	float: left;
}

.project_detail{
	width: 95%;
	display:inline-block;
}
