@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Oswald|Roboto&display=swap');
/* CSS Document */

body{
	font: 20px/1.8 'Open Sans', 'Roboto', 'Gotham', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444444;
}

.frame{
	margin: 0 auto;
}
@media (min-width: 1024px){
	.frame{
		width: 1024px;
		margin: 0 auto;
	}
}

.logo{
	width: 100px;
	height: 70px;
	text-align: center;
	font-size:24px;
	font-weight: bold;
	background: gray;
	color: #fff;
	display: inline-block;
}

.logo_container{
	margin-top: 30px;
	text-align: center;
}

.contatiner{
	overflow: hidden;
}

@media (min-width: 1280px){
	.nav{
		display:none;
	}
}
.nav{
	margin-top: 30px;
	border: 1px solid gray;
	display:inline;
	position: fixed;
	float: left;
	width: 200px;
}

.nav_content{
	width:100%;
}

.nav_list{
	font-size: 20px;
	font-weight: bold;
	list-style: none;
	margin: 15px;
	padding: 10px;
}

.goHome{
	text-decoration: none;
	color: white;
}

.nav_item{
}

.nav_link{
	display:block;
	color: black;
	text-decoration: none;
	margin-top: 10px;
	margin-left: 20px;
}

.content{
	float: left;
	margin-left: 230px;
	margin-right: 80px;
}
@media (min-width: 1280px){
	.content{
		float: left;
		margin-left: 80px;
		margin-right: 80px;
	}
}

.content_detail{
}

.content_footer{
	border-top: 1px solid gray;
	margin-top: 10px;
	text-align: center;
}

/* About Page Styles */
.about_title{
	font-family: 'Oswald', sans-serif;
	color: black;
	font-size: 30px;
	font-weight: bold;
	height: 38px;
	margin-bottom: 0px;
}

.about_content{
}

.JobTitle{
	font-family: 'Oswald', sans-serif;
	color: black;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 0px;
}

.cert_date{
	margin-top: 18px;
	font-weight: bold;
	color: #d44ed9;
}

.Expertise{
	height: 50px;
	margin-top: 0px;
}

.job_detail{
	margin-bottom: 30px;
}

.workdays{
	font-weight: bold;
	color: #d44ed9;
	height: 18px;
}

.circle_filled{
	margin-right: 2px;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: black;
	display: inline-block;
}

.circle_blanked{
	margin-right: 2px;
	width: 8px;
	height: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid black;
	background: white;
	display: inline-block;
}

.skill_level{
	width: 120px;
	margin-left: 10px;
	margin-right: 15px;
	display: inline-block;
	font-weight: bold;
	color: gray;
}

.skill_sets{
	display: inline-block;
}

/* Projects Page Styles */
.project_list{
	display:inline-block;
	margin-bottom: 30px;
}

.project_image{
	width: 150px;
	height: 150px;
	border: 1px solid gray;
	margin-top: 20px;
	margin-right: 20px;
	float: left;
	display: inline-block;
}

.project_detail{
	width: 70%;
	display:inline-block;
}
